/* List */
.todoContainer {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}

.todoLists {
  margin: 0;
  flex: 1 1 auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0rem 1rem;
  padding-top: 10px;
}
