.container {
  width: 380px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

/* Header */
.header {
  width: 100%;
  background: #404258;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 16px;
}

.themeIcon {
  cursor: pointer;
}

.filter {
  display: flex;
  gap: 10px;
  list-style: none;
  color: orange;
  padding: 0;
  margin: 0;
}

.selectedFilterItem {
  box-sizing: border-box;
  border-bottom: 2px solid #6b728e;
}

.filterItem {
  padding: 4px 2px;
  cursor: pointer;
}

/* List */
.todoContainer {
  background: #474e68;
  flex: 1;

  padding: 0px 16px;
}

.todoLists {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 10px;
}
